extends ./layouts/layout.pug

block content
  .row
    .col.s12
      form(method='POST' action='/')
        .row
          .col.s12
            .form-group
              label(for='emailaddress') Email Address:
              input.form-control(type='email' name='emailaddress')
        .row
          .col.s12
            .form-group
              label(for='password') Password:
              input.form-control(type='password' name='password')
        .row
          .col.s12
            .form-group
              input(type='submit' value='Login' class='btn btn-primary')
    span.hidden(id='error') #{error}

block scripts
  script.
    $(document).ready(function() {
      let error = $('#error')
      if(error.html() !== '') {
        showErrorToast(error.html())
        
        setTimeout(function() {
          error.html('')
        }, 5000)
      }
    })